@font-face{
  font-family: "fontawesome";
  src: url(/fonts/fontawesome.woff)
}
@font-face{
  font-family: "helvetica-neue-regular";
  src: url(/fonts/helvetica-neue-regular.woff)
}
html, body{
  margin: 0;
  padding: 0;
  font-family: "fontawesome"
}
#main{
  width: 100%;
}
/* Header */
#header{
  position: relative;
  top: 0;
  width: 100%;
  font-size: 16px;
}
#headerContacts{
  width: 100%;
  display: flex;
  background: rgba(172, 172, 172, 0.5);
  justify-content: flex-end;
  padding: 10px 0 10px 0;
}
i{
  margin: 0 3px 0 3px;
}
.email{
  margin: 5px 100px 5px 0;
}
.phone{
  margin: 5px 15px 5px 0;
} 
.navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}
a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  color: rgb(71, 71, 71);
}
a :visited{
  text-decoration: none;
  color: rgb(243, 74, 13);
}
.navigation img{
  margin-right: 100px;
}
.navigation div{
  margin: 0 14px 0 14px;
}
#consultation_button_nav{
  color: white;
  background-color: rgb(243, 74, 13);
  border-radius: 7px;
  border: 0 solid transparent;
  padding: 7px 15px 7px 15px;
  margin-left: 20px;
  cursor: pointer;
}
/*Home*/
#home{
  background: url(/images/hero-bg.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  position: relative;
  height: 590px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "helvetica-neue-regular";
}
h1{
  font-size: 45px;
  margin: 5px;
}
.home_text{
  font-size: 35px;
}
#home_header{
  text-align: center;
}
#consultation_button{
  color: white;
  background-color: rgb(238, 193, 70);
  border-radius: 7px;
  border: 0 solid transparent;
  padding: 11px 40px 11px 40px;
  margin-left: 25px;
  cursor: pointer;
  font-size: 35px;
  font-weight: bolder;
  margin: 30px;
}

/* General */
.section{
  position: relative;
  font-family: 'elvetica-neue-regular';
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(71, 71, 71);
  padding: 40px 0 40px 0;
}
.section_header{
  text-align: center;
}
.h2_section_header{
  font-size: 40px;
  margin: 5px;
}
.text_section_header{
  font-size: 30px;
}
.underscore{
  height: 5px;
  color: rgb(71, 71, 71);
  background: rgb(71, 71, 71);
  font-size: 0;
  border: 0;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* About */
#services{
  display: flex;
  justify-content: center;

}
.like, .book, .message{
  width: 18%;
  text-align: center;
  margin-right: 15px;
}
.message{
  margin-right: 0;
}
/* Approach */
#ourApproach{
  background: rgb(228, 228, 228);
}
.approach_elements{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.steps{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.approach_elements .steps:nth-child(even){
  flex-direction: row-reverse;
}
.approach_elements .steps:nth-child(even) .steps_text{
  margin: 0 0 0 10%;
  text-align: right;
}
.approach_elements .steps:nth-child(odd) .steps_text{
  margin: 0 10% 0 0;
  text-align: left;
}
.steps_text{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.steps_heading{
  margin: 0 0 10px 0;
}
.step_number_red{
  color: white;
  background-color: rgb(243, 74, 13);
  border: 2px solid white;
  border-radius: 7px;
  position: absolute;
  padding: 10px 23px 10px 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.step_number_red .number{
  font-size: 30px;
  font-weight: bolder;
}
.approach_elements .steps:nth-child(even) .step_number_red{
  right: 25.5%;
}
.approach_elements .steps:nth-child(odd) .step_number_red{
  left: 25.5%;
}