@font-face{
  font-family: "fontawesome";
  src: url('/fonts/fontawesome.woff')
}
@font-face{
  font-family: "helvetica-neue-regular";
  src: url('/fonts/helvetica-neue-regular.woff')
}
html, body{
  margin: 0;
  padding: 0;
  font-family: "fontawesome"
}
.main-block{
  width: 100%;
}
/* Header */
.header-section{
  position: relative;
  top: 0;
  width: 100%;
  font-size: 16px;
}
.header-contacts{
  width: 100%;
  display: flex;
  background: rgba(172, 172, 172, 0.5);
  justify-content: flex-end;
  padding: 10px 0 10px 0;
  color: rgb(71, 71, 71);
}
.header-icon{
  margin: 0 3px 0 3px;
}
.header-contacts :first-child{
  margin: 5px 15px 5px 0;
}
.header-contacts div:nth-of-type(2){
  margin: 5px 100px 5px 0;
} 
.navigation-bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}
.navigation-bar a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  color: rgb(71, 71, 71);
}
.navigation-bar a :visited{
  text-decoration: none;
  color: rgb(243, 74, 13);
}
.navigation-bar .page-logo{
  margin-right: 100px;
}
.navigation-bar .navigation-link{
  margin: 0 14px 0 14px;
}
.consultation-button-nav{
  color: white;
  background-color: rgb(243, 74, 13);
  border-radius: 7px;
  border: 0 solid transparent;
  padding: 7px 15px 7px 15px;
  margin-left: 20px;
  cursor: pointer;
}
/*Home*/
.home-section{
  background: url(/images/hero-bg.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  position: relative;
  height: 590px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "helvetica-neue-regular";
}
.home-section .section-header .section-name{
  font-size: 45px;
  margin: 5px;
}
.home-section .section-header .section-description{
  font-size: 35px;
}
.consultation-button{
  color: white;
  background-color: rgb(238, 193, 70);
  border-radius: 7px;
  border: 0 solid transparent;
  padding: 11px 40px 11px 40px;
  margin-left: 25px;
  cursor: pointer;
  font-size: 35px;
  font-weight: bolder;
  margin: 30px;
}

/* General */
.section-general{
  position: relative;
  font-family: 'elvetica-neue-regular';
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(71, 71, 71);
  padding: 40px 0 40px 0;
}
.section-header{
  text-align: center;
}
.section-name{
  font-size: 40px;
  margin: 5px;
}
.section-description{
  margin: 0;
  font-size: 30px;
}
/* TODO: Make better naming of classes (not one word) */
.section-underscore{
  height: 5px;
  color: rgb(71, 71, 71);
  background: rgb(71, 71, 71);
  font-size: 0;
  border: 0;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* About */
.services-block{
  display: flex;
  justify-content: center;

}
.services-item{
  width: 18%;
  text-align: center;     
  margin-right: 15px;
}
.services-item div:last-of-type{
  margin-right: 0;
}
/* Approach */
.our-approach-section{
  background: rgb(228, 228, 228);
}
.approach-items{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.approach-step{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.approach-items .approach-step:nth-child(even){
  flex-direction: row-reverse;
}
.approach-items .approach-step:nth-child(even) .approach-step-text{
  margin: 0 0 0 10%;
  text-align: right;
}
.approach-items .approach-step:nth-child(odd) .approach-step-text{
  margin: 0 10% 0 0;
  text-align: left;
}
.approach-items .approach-step:nth-child(odd) .approach-step-image .approach-step-order{
  position: absolute;
  right: 0;
  transform: translate(50%, 0);
}
.approach-items .approach-step:nth-child(even) .approach-step-image .approach-step-order{
  position: absolute;
  transform: translate(-50%, 0);
}
.approach-step-text{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.approach-step-description{
  margin: 0;
}
.approach-step-heading{
  margin: 0 0 10px 0;
}
.approach-step-image{
  display: flex;
  align-items: center;
  position: relative;
}
.approach-step-order{
  color: white;
  background-color: rgb(243, 74, 13);
  border: 2px solid white;
  border-radius: 7px;
  position: absolute;
  padding: 10px 23px 10px 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.approach-step-order .approach-step-order-number{
  font-size: 30px;
  font-weight: bolder;
}
/* Work */
.our-work-section{
  background: rgb(243, 74, 13);
  color: white;
}
.our_works{
  width: 70%;
  background: rgb(255, 144, 80);
  display: flex;
  flex-wrap: wrap;
}
.work-item{
  width: 50%;
  display: flex;
}
.work-intro{
  display: flex;
}
.work-item-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.project-name{
  margin: 0;
  margin: 20px 0 10px 0;
}
.our_works .work-item:nth-child(3n){
  flex-direction: row-reverse;
}
.our_works .work-item:nth-child(4n){
  flex-direction: row-reverse;
}
/* in_touch */
.in-touch-section{
  background: rgb(71, 71, 71);
  color: white;
  display: flex;justify-content: center;
}
.network-logo{
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-touch-icons{
  font-size: 30px;
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: row;
  width: 260px;
  justify-content: space-between;
}
.in-touch-description{
  font-size: 20px;
}
.subscribe-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
input[type=email]{
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 13px 0 13px 10px;
  background: rgba(172, 172, 172, 0.5);
  color: white;
  border: none;
}
input[type=email]::placeholder{
  color: white;
}
input[type=button]{
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  width: 150px;
  padding: 8px 0 8px 0;
}
.footer-section{
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-section-text{
  font-size: 16px;
  display: flex;
  background: rgba(172, 172, 172, 0.5);
  justify-content: center;
  padding: 10px 0 10px 0;
  color: rgb(71, 71, 71);
}